[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
 {mce_lib, [
                {log_dir, "log"}
            ]},
 {mce_slave, [
                {master_node, 'master@127.0.0.1'},
                {signal_name, "TERM"},
                {logger_max_roll, 5},
                {logger_max_size, 5242880}
             ]}
].

